.container
{
    max-width: 700px;
    background: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 4px;
}

.container .title .title-text
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.container .form-container
{
    width: 100%;
}

.form-inner form .field input:focus
 {
    border-color: lightblue;
 }

.form-inner form .field
 {
    height: 40px;
    width: 300px;
    margin-top: 10px;

 }

 .form-inner form .field input
 {
     height: 100%;
     width: 100%;
     outline: none;
     padding-left: 10px;
     font-size: 14px;
     font-weight: lighter;
     border-radius: 4px;
     border: 1px solid lightslategray;
     
 }

 form .field input[type="submit"]
 {
    color: black;
    font-size: 14px;
    padding-left: 0; 
    background: lightblue;
    cursor: pointer;
    border: none;
 }